<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Quizellaneous{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <h1>Welcome to Quizellaneous!</h1>
        <div><a href="{{ path('index') }}">Home</a></div>

        {% block body %}{% endblock %}
    </body>
</html>
