{% extends 'base.html.twig' %}

{% block body %}
    <div><a href="{{ path('learn') }}">Learn</a></div>
    <div><a href="{{ path('quiz') }}">Quiz</a></div>
{% endblock %}

{% block title %}

{% endblock %}

