{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('learn_category', { 'slug': composer.category.slug }) }}">Back</a>

    <h3>Learn about {{ composer.name }}!</h3>

    <div>{{ composer.birthDate|date('m-d-Y') }} - {{ composer.deathDate|date('m-d-Y') }}</div>
{% endblock %}

{% block title %}
    Quizellaneous - Learn Composer
{% endblock %}
