{% extends 'base.html.twig' %}

{% block body %}
    <h3>Time to learn!</h3>

    {% for category in categories %}
        <h4><a href="{{ path('learn_category', { 'slug': category.slug }) }}">{{ category.name }}</a></h4>
    {% endfor %}
{% endblock %}

{% block title %}
    Quizellaneous - Learn
{% endblock %}
