{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('learn') }}">Back</a>

    <h3>{{ category.name }}</h3>

    {% for subject in subjects %}
        <div><a href="{{ path('learn_composer', { 'slug': subject.slug }) }}">{{ subject.name }}</a></div>
    {% endfor %}
{% endblock %}

{% block title %}
    Quizellaneous - Categories
{% endblock %}

