{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('quiz') }}">Another one!</a>

    <h3>Congratulations!</h3>

    <div>You got all the answers correct!</div>
{% endblock %}

{% block title %}
    Quizellaneous - Quiz Complete
{% endblock %}

