{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('new_quiz') }}">Start a new quiz</a>

    <h3>Quiz Time!</h3>

    {{ form(form) }}
{% endblock %}

{% block title %}
    Quizellaneous - Quiz
{% endblock %}
