{% extends 'base.html.twig' %}

{% block body %}
    <h3>Quiz Time!</h3>

    {% for question in questions %}
        <div>{{ question.question }}</div>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

