{% extends 'base.html.twig' %}

{% block body %}
    <h3>Quiz Time!</h3>

    {% set count = 0 %}
    {% for question in questions %}
        <div>{{ question.question }}</div>
        {% set count = count + 1 %}
        {% for choice in question.choices %}
            <label>
                <input type="radio" name="question{{ count }}" />
                {{ choice }}
            </label>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block title %}
    Quizellaneous - Quiz
{% endblock %}
